<h1>Profiles/edit</h1>

<%= simple_form_for [@user @profile] do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :phone_number %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>


