
<div class="align_form_profile">
  <h2>My profile information</h2>
</div>
  <%= simple_form_for @profile do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :phone_number %>
<div class="align_form_profile">
    <%= f.button :submit, class: "btn btn-primary" %>
</div>
  <% end %>
