<h1>Reservations</h1>

<p><strong>Your last reservations :</strong></p>

  <strong><% @reservations.each do |r| %></strong>
  <ul>
  <li> <%= r.boat.name %></li>
  <li> <%= r.booked_from %></li>
  <li> <%= r.booked_to %></li>
  <%= link_to 'Edit', edit_user_reservation_path(current_user, r) %>
  </ul>
  <% end %>

  <%= link_to 'Back', root_path %>
