<h1>Reservations</h1>

<p><strong>Hi<%= current_user.name %> your last reservations :</strong></p>
<ul>
  <li> <%= @boat_name %></li>
  <li> <%= @booked_from %></li>
  <li> <%= @booked_to %></li>
</ul>

<%= link_to 'Edit', edit_boat_reservation_path(@reservations) %> |
<%= link_to 'Destroy', @reservation, method: :delete, data: { confirm: 'Are you sure?' } %>

|<%= link_to 'Back', boat_reservation_path %>

