
<h1>Your booking : The <%= @reservation.boat.name %></h1>
<%= cl_image_tag @reservation.boat.photo, height: 900, width: 1450, crop: :fill %>



<p>Boat Name: <%= @reservation.boat.name %></p>
<p>Boat Type: <%= @reservation.boat.boat_type %></p>
<p>City: <%= @reservation.boat.city %></p>
<p>Size: <%= @reservation.boat.size %></p>
<p>From <%= @reservation.booked_from %> to <%= @reservation.booked_to %></p>
<p>Price per day :<%= @reservation_price %></p>
<p>Number of days :<%= @number_of_days %></p>
<p>Total price for the booking = <%= @total_price %></p>

<p> Owner of the boat : <%= @reservation.boat.user.profile.last_name %> <%= @reservation.boat.user.profile.first_name %></p>
<%= cl_image_tag @reservation.boat.user.profile.photo%>


<%= link_to 'Back', user_reservations_path(current_user, @reservation), class: "btn btn-primary" %>

