<h1>Reservation</h1>

<ul>
  <li> Boat Name: <%= @reservation.boat.name %></li>
  <li> Boat Type: <%= @reservation.boat.boat_type %></li>
  <li> City: <%= @reservation.boat.city %></li>
  <li> Size: <%= @reservation.boat.size %></li>
  <li> From <%= @reservation.booked_from %> to <%= @reservation.booked_to %></li>
  <li>Price per day :<%= @reservation_price %></li>
  <li>Number of days :<%= @number_of_days %></li>
  <li>Total price for the booking = <%= @total_price %></li>
  <li> Owner of the boat : <%= @reservation.boat.user.profile.last_name %> <%= @reservation.boat.user.profile.first_name %></li>
  <%= cl_image_tag @reservation.boat.photo, height: 300, width: 400, crop: :fill %>

</ul>

|<%= link_to 'Back', user_reservations_path(current_user, @reservation) %>

