<h1>Add a review</h1>
<%= simple_form_for [@boat, @review] do |f|  %>
<%= f.error_notification %>
<%= f.input :rating, placeholder: "Score from 1 to 5"%>
<%= f.input :comment, placeholder: "Add a comment" %>
<%= f.submit %>
<% end %>
