
<!----ARRAY FOR DEMO FOTO'S, will be removed later----->

  <h2 class="text-center">Find the perfect boat</h2>
    <div class="row">
      <% @boats.each do |b| %>
        <%= link_to boat_path(b) do %>
          <div class="col-xs-12 col-sm-4">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path b.photo, height: 300, width: 400, crop: :fill %>')">
              <div class="card-category"><%= b.city %></div>
              <div class="card-description">
                <h2><%= b.name %></h2>
                <p><%= b.boat_type %></p>
              </div>
              <img class="card-user avatar avatar-large" src="images/romain.jpeg">
            </div>
          </div>
          <% end %>
        <% end %>
      </div>





