
<div class="container">
<div class="simple_form">

<%= form_tag boats_path, method: :get do %>

  <p><%= text_field_tag :city,
    params[:city],
    class: "form-control",
    placeholder: "city"
  %></p>

  <p><%= select_tag :boat_type,
      options_for_select([" ","sailboat", "motorboat", "catamaran", "RIB", "jet_ski", "house_boat"]),
      class: "form-control",
        placeholder: "Pick a type"
    %></p>


 <p> <%= text_field_tag :price,
    params[:price],
    class: "form-control",
    placeholder: "price per week"
  %></p>

 <p> <%= text_field_tag :size,
    params[:size],
    class: "form-control",
    placeholder: "size"
  %></p>

  <p><%= submit_tag 'Search', class: 'btn btn-primary'%></p>

<% end %>
</div>

<h2 class="text-center"></h2>
   <div class="row">
     <% @boats.each do |b| %>
       <%= link_to boat_path(b) do %>
         <div class="col-xs-12 col-sm-4">
           <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path b.photo, height: 300, width: 400, crop: :fill %>');">
             <div class="card-category"><%= b.city %></div>
             <div class="card-description">
               <h2><%= b.name %></h2>
               <p><%= b.boat_type %></p>
               <p>€<%= b.price %> / week</p>
               <p><%= b.size %> feet</p>
               <p>
                <!--making stars for average rating on card--->
                <% if b.reviews.count > 0 %>
                  <% a = [] %>
                  <% b.reviews.each do |r|  %>
                    <%  a << r.rating %>
                  <% end %>
                  <% c = a.inject{ |sum, el| sum + el } / a.size %>
                  <% c.times do %>
                    <i class="fas fa-star"></i>
                  <% end %>
                <% end %>
                </p>
                <!---END stars making--->
             </div>
             <img class="card-user avatar avatar-large" src="images/romain.jpeg">
           </div>
         </div>
         <% end %>
       <% end %>
     </div>
     <!------------CARDS FINISH------->
   </div>





