<%= content_for :title do  %>
WaterBNB - new boat
<% end %>

<div class="container">
<h2>Add your boat for rent</h2>

<%= simple_form_for @boat do |f| %>
  <%= f.input :name %>
  <%= f.input :boat_type, collection: ["sailboat", "motorboat", "catamaran", "RIB", "jet ski", "house boat"] %>
  <%= f.input :city %>
  <%= f.input :price %>
  <%= f.input :size %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>


  <% if current_user.profile.nil? %>
    <%= render "shared/popupprofile" %>
      <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Add a boat
    </button>
  <% else %>
      <%= f.submit "Add a boat", class: 'btn btn-primary'%>
  <% end %>

<% end %>
  </div>


