<h1>Add your boat for rent</h1>
<%= simple_form_for @boat do |f| %>
  <%= f.input :name %>
  <%= f.input :boat_type, collection: ["sailboat", "motorboat", "catamaran", "RIB", "jet ski", "house boat"] %>
  <%= f.input :city %>
  <%= f.input :price %>
  <%= f.input :size %>
  <%= f.submit "Give the availibilities"%>
<% end %>




